{{define "body"}}
<form action="/rig" method="post">
<div>
	   <input type="checkbox" id="-m" name="-m" value="-m">
 	   <label for="-m">-m</label>
 	 </div>
	 	<div>
	   <input type="checkbox" id="-f" name="-f" value="-f">
 	   <label for="-f">-f</label>
 	 </div>
	  <div>
 	 	<label for="-c">-c</label>
		<input type="number" id="-c" name="-c">
	</div>

	<button type="submit">Ok</button>
</form>
<div class="row">
{{ range $index, $data:= .Data}}
<div class="card col-sm-2">
		 <div class="card-header">{{$data.Name}}</div>
		 <div class="card-body">{{$data.Addr}}</div> 
		 <div class="card-footer">{{$data.Postal}}</div>
		 <div class:"card-text">{{$data.Tel}}</div>
  </div>
{{ end }}
</div>
{{end}}
