{{define "body"}}
<div id="malin">
    <form action="/signup" class="signup"  method="POST">
        <div class="ha">
          <label for="email">email</label>
          <input type="email" class="" name="email"placeholder="Enter email" id="email">
        </div>
        <div class="ha">
          <label for="login">login</label>
          <input type="login" name="login"class="" placeholder="login" id="login">
        </div>
        <div class="ha">
            <label for="pwd">Password</label>
            <input type="" class="" name="pwd" placeholder="Enter password" id="pwd">
        </div>
        <div class="ha">
	 	<label for"pwd1">Password verif</label>	
		<input type="password" class="" name="pwd1" placeholder="rewrite password" id="pwd1">
      	</div>
        <button type="submit" class="">Submit</button>
      </form>
      </div>
{{end}}
