{{define "body"}}
<center style="line-height: initial !important;">
{{if eq .Data.I "2"}}
<pre>
{{end}}
{{.Data.Fortune}}
{{if eq .Data.I "2"}}
</pre>
{{end}}
</center>
<form action="/toilet" method="POST">
<div style="display:flex;">
<div>
  <input type="checkbox" id="-S" name="-S">
  <label for="-S">-S</label>
</div>
<div>
  <input type="checkbox" id="-s" name="-s">
  <label for="-s">-s</label>
</div>
<div>
  <input type="checkbox" id="-k" name="-k">
  <label for="-k">-k</label>
</div>
<div>
  <input type="checkbox" id="-W" name="-W">
  <label for="-W">-W</label>
</div>
<div>
  <input type="checkbox" id="-o" name="-o">
  <label for="-o">-o</label>
</div>
</div>
<div>
  <input type="number" id="-w" name="-w">
  <label for="-w">-w</label>
</div>

<div>
<select name="-f" id="-f">
	<option value="">--Please choose an option--</option>
	{{ range $value := .Data.Datal }}
	<option value="{{ $value }}">{{$value}}</option>
	{{ end }}
</select>
</div>
<div id="lo">
<select name="-F" id="-F">
	<option value="">--Please choose an option--</option>
	{{ range $value := .Data.Data }}
	<option value="{{ $value }}">{{$value}}</option>
	{{ end }}
</select>
</div>
<div id="lo">
<select name="-F" id="-F">
	<option value="">--Please choose an option--</option>
	{{ range $value := .Data.Data }}
	<option value="{{ $value }}">{{$value}}</option>
	{{ end }}
</select>
</div>
<div>
<select name="-E" id="-E">
	<option value="">--Please choose an option--</option>
	{{ range $value := .Data.Datas }}
	<option value="{{ $value }}">{{$value}}</option>
	{{ end }}
</select>
</div>
<div>
	<label for="message">message</label>
	<input type="text" id="message" name="message"></input>
</div>
<button type="submit">Ok</button>
</form>
{{end}}

